<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle} + ' - bsuir-лавка'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<header th:fragment="header">
    <div class="logo">bsuir-лавка</div>
    <nav>
        <ul>
            <li><a th:href="@{/ui/orders}"
                   th:classappend="${activePage == 'orders'} ? 'active' : ''">Заказы</a></li>
            <li><a th:href="@{/ui/food}"
                   th:classappend="${activePage == 'food'} ? 'active' : ''">Еда</a></li>
            <li><a th:href="@{/ui/users}"
                   th:classappend="${activePage == 'users'} ? 'active' : ''">Пользователи</a></li>
        </ul>
    </nav>
</header>

<div class="container" th:fragment="layout(content)">
    <th:block th:replace="${content}" />
</div>

</body>
</html>